<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
<!--
    <bean id="smBusiness"
          class="com.hjt.yzm.business.sm.impl.AliSmBusinessImpl" autowire="byType">
        <property name="accessKey" value="${ali.accessKey}" />
        <property name="accessSecret" value="${ali.accessSecret}" />
        <property name="sign" value="${ali.sign}" />
    </bean>
    <bean id="producerBusiness"
          class="com.hjt.yzm.business.producer.impl.ProducerBusinessImpl" autowire="byType">
        <property name="isDevelope" value="${isDevelope}" />
        <property name="jmsTemplate" ref="jmsTemplate" />
        <property name="publicQueue" ref="publicQueue" />

    </bean>
-->
</beans>